* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #999;
  text-decoration: none;
  font-size: inherit;
  transition: 0.35s;
  font-weight: 800;
}

a:hover {
  color: #111;
}

.main {
  padding-top: 60px;
}

.icon {
  color: #999;
  cursor: pointer;
  transition: 0.35s;
}

.icon:hover {
  color: #111;
}

.icon__1-5 {
  font-size: 1.5em;
}

.shadowed {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.red {
  color: #f15151;
}

.white {
  color: #fff;
}

.gray {
  color: #999;
}
